body {
    background-color:rgb(192, 192, 192);
}

select {
  text-align: left;
  margin: 0px;
  background: #d0dce6;
  color:#194569
}

img {
    height: 320px;
    border-radius: 95%;
    box-shadow: 5px 5px 20px;
    height: 308px;
}

.actions {
    text-align: center;
    margin-top: 5px;
}

.actions a {
    background-color: lightslategray;
    border-radius: 8px;
    color: #d0dce6;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

.sticky2 {
  text-align: center;
  font-family: monospace;
  top: 5px;
  padding: 5px;
  color: beige;
  background-color: #194569;
}

.sticky {
    text-align: center;
    position: sticky;
    font-family: monospace;
    top: 5px;
    padding: 5px;
    color: beige;
    background-color: #194569;
  }
.sticky {
      height: 50px
  }

.card {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 65px;
  margin-top: 0px;
  padding: 10px auto;
  text-align: none;
  width: 1047px;
}

.card2 {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 65px;
  margin-top: 0px;
  padding: 10px auto;
  text-align: none;
  width: 1290px;
}

.card:hover {
  background-color: lightslategray;
  border-color: lightslategray;
}

.card2:hover {
  background-color: lightslategray;
  border-color: lightslategray;
}